#Formulario_p {
    width: 100%;
    justify-content: center;
    position: unset;
    text-shadow: black 7px;
    margin-top: 84px;
    /* height: 100%; */
    text-align: left;
    padding-top: 10%;
    }
.cont_form{
    width:100%;
    margin-top: 20%;
    margin: 0 auto;
    padding: 1em;
    border: solid black 4px;
    background-color: aliceblue;
    position: relative;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.3);
}

.Formulario_p {
  width: 450px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  position: relative;
}
.Formulario_p h3{
    text-align: left;
    
}
.datos_form{
    text-align: left;
    margin-top: 20%;
}
.formulario__titulo {
    text-align: center;
    margin-top: 0;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgba(0,0,0,0.7);
}
.formulario__input, .formulario__label, .formulario__submit {
  display: block;
  width: 100%;
  font-size: 1.3em;
}
.formulario__input {
  width: 100%;
  padding: 20px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 40px;
}
.formulario__input:focus {
  outline: 1px solid rgba(0,0,0,0.7);
}
.formulario__input:focus + .formulario__label{
  margin-top: -135px;
}
.formulario__label {
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0,0,0,0.5);
  transition: all 0.2s;
}
.formulario__submit {
    
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    
}

.formulario .radio label:before,
    .formulario .checkbox label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #FF4136; 
}

.formulario input[type="radio"] {
    display: none; }
    
    .formulario input[type="radio"]:checked + label:before {
        display: none; }
    
    .formulario input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #FF4136;
        border-radius: 2px;
        color: #fff; 
}      



@media(min-width:1024px) {
    .cont_form {
       width: 50%;
    }
    .datos_form{
    
    margin-top: 20%;
    }
       }
    

/* custom radio */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* create custom radio */
.radio .check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* on mouse-over, add border color */
.radio:hover input ~ .check {
    border: 2px solid #2489C5;
}

/* add background color when the radio is checked */
.radio input:checked ~ .check {
    background-color: #2489C5;
    border:none;
}

/* create the radio and hide when not checked */
.radio .check:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the radio when checked */
.radio input:checked ~ .check:after {
    display: block;
}

/* radio style */
.radio .check:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}